:root {
  --max-width: 1200px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

.title {
  text-align: right;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
} 